{% extends "base.html" %}

{% block title %} Secret{% endblock %}


{% block content %}
<div class="container text-center">
  <h1>login</h1>
  {% if 'user_id' in session %}
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
  <form action="/secret" method="GET">
    <button type="submit">Secret</button>
  </form>
  {% endif %}
  <form id="register_form" action="" method="POST">
    {{form.hidden_tag() }}
    <div class="form-group">
      {% for field in form
      if field.widget.input_type != 'hidden' %}
      <p>
        {{field.label}}
        {{field}}

        {% for error in field.errors %}
        {{error}}
        {% endfor %}
      </p>

      {% endfor %}
    </div>
    <button type="submit">Login</button>
  </form>
  <a href="/register"><button>Sign up</button></a>
</div>
{% endblock %}