{% extends "base.html" %}

{% block title %} Secret{% endblock %}


{% block content %}
<div class="container text-center">
  <h1>Secret</h1>
  Hello {{user.username}}
  Welcome to the Feedback
  <form>
    <button class="btn btn-danger btn-sm" formaction="/users/{{ user.username }}/delete" formmethod="POST">
      Delete User
    </button>
    <button class="btn btn-primary btn-sm" formaction="/users/{{ user.username }}/feedback/add" formmethod="GET">
      Feedback
    </button>
  </form>

  <ul>
    {% for feedback in feedbacks %}
    <a href="">
      <li>{{ feedback.title}}
        {% if feedback.username == session['username']%}
        {{feedback.username}}
        <form>
          {{form.hidden_tag()}}
          <button class="btn btn-primary" formmethod="GET" formaction="/feedback/{{ feedback.id }}/update">
            Edit
          </button>
          <button class="btn btn-danger" formmethod="POST" formaction="/feedback/{{ feedback.id }}/delete">
            Delete
          </button>
        </form>
        {% endif %}
      </li>
    </a>
    {% endfor %}
  </ul>

</div>
{% endblock %}